html {
  font-size: 10px;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;

}

.content-wrapper {
  width: 1340px;
  margin: 0 auto;
  padding: 66px 0;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 4.4rem;
  font-weight: 300;
  padding-top: 137px;
  letter-spacing: 2.8px;
  width: 70%;
}
