html {
  font-size: 10px;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.content-wrapper {
  width: 83.2vw;
  margin: 0 auto;
  padding: 62px 0 59px 0;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 4.4rem;
  font-weight: 300;
  padding-top: 116px;
  line-height: 1.34;
  letter-spacing: 1;
  width: 70%;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #545454;
  font-size: 3.3rem;
  letter-spacing: 3px;
  font-weight: 300;
  width: 54%;
  line-height: 1.4;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #F1CDB3;
  font-size: 3.2rem;
  line-height: 1;
  letter-spacing: 1.7px;
  text-decoration: solid;
  cursor: pointer;
}

.logo-subtitle {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 1.3rem;
  margin: 9px 0 0 3px;
  letter-spacing: 1.2px;
}

.start-screen {
  background: url(../assets/images/start-screen-gradient-background.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 63vw;
  margin-bottom: 5px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  position: relative;
  right: -1.4vw;
  margin-top: 0px;
}

.nav-list li {
  font-size: 1.5rem;
}

.nav-list a {
  text-decoration: none;
  color: #FFFFFF;
  margin: 18px;
  padding-bottom: 5px;
}

.nav-list a:hover,
.nav-list li:first-child a {
  border-bottom: 2px solid #F1CDB3;
}

.main-screen {
  display: flex;
  color: #FFFFFF;
  padding: 0;
}

.main-screen-content {
  flex-basis: 42.3%;
}

.main-screen p {
  font-size: 1.4rem;
  letter-spacing: 0.44px;
  line-height: 1.6;
  width: 92%;
  margin-bottom: 57px;
}

.about-area {
  height: 34.3vw;
  padding-bottom: 30px;
}

.about-area img {
  grid-row: 1;
  position: relative;
  left: 173px;
  top: 14px;
}

.about-content p {
  width: 70%;
  margin-top: -3px;
  margin-bottom: 27px;
  line-height: 1.6;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .about-area {
    display: grid;
    grid-template-columns: 49.7% 1fr;
  }
}
.pets {
  background-color: #F6F6F6;
  height: 60.8vw;
}

.pets h2 {
  text-align: center;
  padding-left: 4px;
  padding-top: 78px;
}

.pets-slider {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0;
}

.arrow {
  border: 2px solid #F1CDB3;
  border-radius: 85px;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 13px 16.5px;
  position: relative;
  top: 13.2vw;
}

.arrow:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  cursor: pointer;
}

.right-arrow {
  margin-left: 8px;
}

.left-arrow {
  margin-right: 8px;
}

.pets-card {
  width: 270px;
  height: 435px;
  border-radius: 9px;
  margin: 0 45px;
  text-align: center;
  background-color: #FAFAFA;
}

.pets-card:hover {
  cursor: pointer;
  background-color: #FFFFFF;
}

.pets-card p {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1.1px;
  font-size: 2rem;
  margin-bottom: 41px;
}

.btn {
  color: #000000;
  border-radius: 30px;
  letter-spacing: 0.7px;
  padding: 15.5px 43px;
  font-size: 1.8rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
}

.primary-btn {
  background-color: #F1CDB3;
}

.primary-btn:hover {
  background-color: #FDDCC4;
}

.secondary-btn:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.secondary-btn {
  border: 2px solid #F1CDB3;
  padding: 13.5px 42px;
}

.btn-to-all {
  text-align: center;
  margin-top: 10px;
  margin-left: 115px;
}

.help {
  height: 42.3vw;
}

.help h2 {
  text-align: center;
  padding-left: 4px;
  padding-top: 79px;
  padding-bottom: 0;
}

.help-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 58px;
}

.help-item {
  margin: 0 61px 32px 61px;
}

.help-item p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.9px;
  padding-top: 6px;
}

.help-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.donation-area {
  height: 32.3vw;
  background-color: #F6F6F6;
}

.donation-area img {
  grid-row: 1;
  position: relative;
  left: 143px;
  top: 37px;
}

.donation-text h2 {
  width: 61%;
}

.donation-text h2 + p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  letter-spacing: 0.9px;
  margin-top: -11px;
}

.donation-card-data {
  background-color: #F1CDB3;
  border-radius: 9px;
  width: 319px;
  padding: 7px 15px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.donation-card-data:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.donation-icon {
  display: inline-block;
  background: url(../assets/images/credit-card.svg);
  width: 30px;
  height: 23px;
}

.card-number {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  padding-left: 14px;
  letter-spacing: 1.2px;
}

.card-number a {
  text-decoration: none;
  color: #545454;
}

.donation-text > p:last-child {
  width: 69%;
  font-style: italic;
  font-size: 1.2rem;
  color: #B2B2B2;
}

@media screen and (min-width: 768px) {
  .donation-content {
    display: grid;
    grid-template-columns: 56.5% 1fr;
    padding-top: 56px;
  }
}
footer {
  background: url(../assets/images/footer-gradient-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  height: 24.3vw;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 0;
}

.footer-content a {
  text-decoration: none;
  color: #F1CDB3;
}

.footer-content a:hover {
  color: #FDDCC4;
}

.footer-content img {
  padding-top: 10px;
}

.footer-content h2 {
  width: 70%;
  color: #FFFFFF;
}

.footer-content div {
  display: flex;
  align-items: center;
}

.email-info {
  padding-top: 13px;
}

.phone-info {
  margin-top: 43px;
}

.location-info {
  margin-top: 31px;
}

.footer-content span:last-child {
  width: 57%;
  line-height: 1.2;
}

.footer-content span {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #F1CDB3;
  font-size: 2rem;
  letter-spacing: 1.1px;
}

.footer-contacts {
  flex-basis: 42.4%;
}

.icon {
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 20px;
}

.email-icon {
  background: url(../assets/images/mail.png);
  width: 40px;
  height: 26px;
}

.phone-icon {
  background: url(../assets/images/icon-phone.svg);
  width: 40px;
  height: 32px;
}

.location-icon {
  background: url(../assets/images/pin.png);
  width: 22px;
  height: 32px;
}

/*# sourceMappingURL=style.css.map */
