.logo-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: $color-primary;
  font-size: 3.8rem;
  line-height: 1;
  letter-spacing: 1px;
  text-decoration: solid;
  cursor: pointer;
}

.logo-subtitle {
  font-family: Arial, Helvetica, sans-serif;
  color: $color-additional;
  font-size: 1.3rem;
  margin: 11px 0 0 7px;
  letter-spacing: 2px;
}