.main-screen {
  display: flex;
  color: $color-additional;
  padding: 0;
}

.main-screen-content{
  flex-basis: 42.3%;
}

.main-screen p {
  font-size: 1.4rem;
  letter-spacing: 0.44px;
  line-height: 1.6;
  width: 92%;
  margin-bottom: 57px;
}